@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Quicksand:100,200,300,400|Pacifico:400");
/* Reset default margin,padding,border for all elements of body */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*Margin setting and font styles for body*/
body {
    margin: 20px 20px;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    color: #846C5B;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.clear-both {
  clear: both;
}

  main {
    flex: 1 0 auto;
  }

/*header*/
header {
    border: bottom 2px solid #CDC0B7;
    padding-bottom:  2px;
    z-index: 99;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    left: 0
}

/*heading*/
h1, h2 {
  font-family: Pacifico, sans-serif;
  letter-spacing: 4px;
  color: #c1865c;
  text-transform: uppercase;
}

h2 {
  margin: 30px 0;
}

h3 {
  text-transform: uppercase;
}



/* Style for header navigation bar*/
.navigation {
    font-family: Oswald;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color:none;
    padding: 10px 20px;
}

.navigation li {
    margin: 0 25px 0 25px;
  }
  
  .navigation a {
    
    text-decoration: none;
    color: #a9612e;
  }
  
  .navigation a:hover {
    color: #CEA07E;
    font-weight: 500;
  }
  
  .active {
    color: #CEA07E;
    font-weight: 500;
  }


   
/* Header container with flex layout */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:normal;
  }
  
  .flex-item {
    margin-left: 50px;
  }

  #hero-outer {
      position: relative;
      height: 500px;
      width:100%;
      overflow:hidden;
    
  }

 #hero-image {
  width: 100%;
  height: 600px;
  background: url(../images/hero-image.png) no-repeat center center;
  background-size: cover;

 }

 #cover-text {
  position: absolute;
  right: 50px;
  bottom: 300px;
  width: 400px;
  height: auto;
}

#cover-text h2 {
  color: #FFB9B2;
  background-color: #B46060; 
  font-size: 28px;
  font-family: Pacifico, sans-serif ;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  padding: 40px 10px; 
  margin: 0;
}

/*section styling*/

#offer-header{
  text-align: center;
  background-color: #CEA07E;
  text-decoration-color: #4A2F1C;
  font-style:italic ;
}
#chai-outer {
  max-width: 100px;
  margin:0 auto;
  padding: 20px 0;

}
#chai-text {
  text-align:auto;
  display: block;
  margin: 0 auto;
  line-height: 30px;
}
.chai-content-wrapper {
  max-width: 1200px; 
  padding: 20px 0;
  margin: 0 auto;
}
.image-background{
  background-color: #CDC0B7;

}
#chai-header {
  text-align: center;

}
.column {
  width: 50%;
}
.right {
  float: right;
}

.left {
  float: left;
}

.content-image{
  text-align: center;
  padding: 50px;
 
}
.content-image img{
  height: 550px;
  width:550px;
}

.content-text-right {
  text-align: justify;
  padding: 50px;
  line-height: 25px;
}

.content-text-left {
  text-align: justify;
  padding: 50px;
  line-height: 25px;
}

.content-text-left h3, .content-text-right h3 {
  margin-top: 0;
}

.content-text-right h3 {
  text-align: left;
}

.content-text-left h3 {
  text-align: right;
}



